.App {
  text-align: center;
  justify-content: center;
  width: 100%;
}

.big-container {
  width: 33%;
  text-align: center;
  justify-content: center;
  float: left;
  margin-top: 15%;
}

textarea {
  width: 200px;
  height: 80px;
  border-radius: 5px;
  background-color: rgba(245, 245, 245);
  font-size: 16px;
  resize: none;
  border: solid 1px;
  margin: 10;
}

button {
  background: whitesmoke;
  height: 40px;
  width: 90px;
  margin: 10px 20px;
  border-radius: 5px;
}

.counter-container {
  margin: auto;
  background-color: whitesmoke;
  width: 350px;
  height: 200px;
  text-align: center;
  border-radius: 5px;
}
.black-text {
  color: black;
}
.red-text {
  color: red;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.grey {
  background-color: grey;
}
